<header class="fixed-top">
  <nav class="navbar navbar-light bg-white">
    <a class="navbar-brand">
      <i tabindex="1" (keyup.space)="menu.toggle()" (click)="menu.toggle()" class="fa fa-bars mr-2"></i>
      ALURAPIC
    </a>

    <ap-menu #menu>
      <ul class="list-unstyled">
        <li showIfLogged><a [routerLink]="['p', 'add']">Upload</a></li>
      </ul>
    </ap-menu>

    <div *ngIf="(user$ | async) as user; else login">
      <i class="fa fa-user-circle mr-2"></i>
      <a class="mr-2">{{user.name}}</a>
      <a (click)="logout()">(Logout)</a>
    </div>

    <ng-template #login>
      <span class="navbar-text">
        <a [routerLink]="['']">Please, login!</a>
      </span>
    </ng-template>
  </nav>
</header>

<div class="fixed-top">
  <ap-loading></ap-loading>
  <ap-alert></ap-alert>
</div>
